---
import Layout from "../layouts/Layout.astro";
import Stack from "../components/Stack.astro";
import Titulo from "../components/Titulo.astro";
import Redes from "../components/Redes.astro";
import Buttons from "../components/Buttons.astro";
---

<Layout title="PORTFOLIO NOE TRIMINIO.">
  <main class="relative">
    <section class="main_section  h-[18.5rem] lg:h-[35rem] md:h-[20rem] flex justify-center items-center bg-slate-950   lg:pt-16 overflow-hidden">
      <img
        src="img/banner.webp"
        class="img_section absolute top-0 -left-20 lg:left-24 max-h-42 max-w-32 md:-max-w-64 md:max-h-80 lg:max-h-[35rem] z-20 lg:mr-20"
        alt="foto de noe.webp"
      />
     <div class="w-full flex  justify-end items-end mr-5 md:justify-center md:ml-32 lg:ml-96 xl">
      <Titulo />
     </div>
    </section>
    <h4 class="text-center text-xl p-10 font-semibold">MIS SERVICIOS</h4>
    <article class="max-w-[95%] lg:w-[60%] text-xs font-semibold  shadow  rounded-2xl mx-auto md:max-w-[70%] md:text-sm bg-white">
      <div class="flex flex-col justify-center border rounded-2xl p-5 gap-2 ">
        <p>Lleva tus proyectos al siguiente nivel con el uso de las tecnologías más robustas y populares.</p>
        <p>Algunos de mis servicios incluyen creación,  mantenimiento y soporte de sitios y páginas web.</p>
        <p>Para más información contáctame en mis redes sociales.</p>
        <div class="flex flex-col items-center justify-end gap-20 lg:flex-wrap">
          <div class="flex gap-10 mt-8">
            <Buttons titulo="Mas Sobre Mi" link="/sobremi"/>
            <Buttons titulo="Proyectos" link="/proyectos"/>
          </div>
          <Redes color="black" />
        </div>
      </div>
     
    </article>
  </main>
  <Stack />
</Layout>

<style>
  .img_section {
    background-size: cover;
    background-repeat: no-repeat;
  }
  .main_section {
    -webkit-box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.6);
  }

  .show_main {
    opacity: 100%;
    transition: all 0.3s ease-in-out;
  }
</style>
