---
import Layout from "../layouts/Layout.astro";
import Titulo from "../components/Titulo.astro";
import Stack from "../components/Stack.astro";
import Redes from "../components/Redes.astro";
import Buttons from "../components/Buttons.astro";

---

<Layout title="PORTFOLIO NOE TRIMINIO.">
  
  <main class="relative">
    <section class="main_section  h-[18.5rem] sm:h-[19rem] md:h-[20rem] lg:h-[25rem]  flex justify-center items-center  bg-slate-950   lg:pt-16 overflow-hidden">
      <img
        src="img/banner.webp"
        class="img_section absolute top-0 -left-20  lg:left-16 max-h-[18rem]  md:max-h-80 lg:max-h-[25rem] z-20 lg:mr-20"
        alt="foto de noe.webp"
      />
     <div class="w-full flex flex-1  justify-end items-end mr-5 md:justify-center md:ml-32  ">
      <Titulo />
     </div>
    </section>
    <h2 class="h2_skills  text-xl p-5 w-full mx-auto  text-center font-semibold  md:text-xl md:mt-14 uppercase">Servicios</h2>
      <article class="max-w-[95%] lg:w-[70%] border-b  mx-auto md:max-w-[70%] bg-white ">
        <div class="flex flex-col justify-center  rounded-2xl p-5 gap-3 pt-5">
          <p class="leading-6">Transforma tus ideas en realidades digitales con el impulso de las tecnologías más sólidas y populares en el desarrollo web.</p>
          <p class="leading-6">Como desarrollador web apasionado, ofrezco un conjunto completo de servicios para llevar tus proyectos al siguiente nivel. Desde la creación inicial de sitios web y páginas cautivadoras hasta el constante mantenimiento y un soporte fiable, estoy comprometido a garantizar que tu presencia en línea sea impecable.</p>
          <p class="skills leading-6">Mis habilidades y experiencia abarcan una variedad de tecnologías líderes, permitiéndome adaptarme a tus necesidades específicas y brindarte soluciones personalizadas.</p>
          <p class="skills leading-6">Para obtener más detalles sobre mis servicios y discutir cómo podemos colaborar en tu próximo proyecto, no dudes en contactarme. Puedes encontrarme fácilmente a través de mis redes sociales. Estoy aquí para hacer que tu presencia en línea destaque y prospere.</p>
          <div class="flex flex-col items-center justify-end gap-20 lg:flex-wrap">
            <div class="skills flex gap-10 mt-8">
              <Buttons titulo="Proyectos" link="/proyectos"/>
              <Buttons titulo="Mas Sobre Mi" link="/sobremi"/>
            </div>
            <Redes color="black" />
          </div>
        </div>
      </article>
      <Stack />
    </main>
  </Layout>
  
  <style>
  .img_section {
    background-size: cover;
    background-repeat: no-repeat;
  }
  .main_section {
    -webkit-box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.6);
  }
  .skills{
        animation: fade linear both;
        animation-timeline: view();
        animation-range: entry 10% cover 30%;
    }

    @keyframes fade {
        0%{
            opacity: 0;
            translate: 20 100px;
            scale: .5;
            transition: all .3s ease-in-out;
        }
        100%{
            opacity: 1;
            translate: 0 0;
            scale: 1;
        }
    }
  
  
</style>
