---
import Layout from '../layouts/Layout.astro';
import Stack from '../components/Stack.astro';
import Titulo from '../components/Titulo.astro';

---
<script>
	const main=document.querySelector('.main_section');
	setTimeout(() => {
		main.classList.add('show_main')
	},100);
</script>

<Layout title="PORTFOLIO NOE TRIMINIO.">
	<main>
	<section class="main_section opacity-0 flex flex-col items-center  p-1 flex-wrap w-[85%] h-[30rem]  mx-auto rounded-md md:w-[80%] mt-20">
		<section class=" flex flex-col justify-evenly w-[99%]  md:w-[99.5%] h-[99.5%] p-4  bg-[#273036] text-white  text-xl rounded-md ">
			
			<div class="flex flex-wrap  items-center gap-10 ">
				<Titulo />
				<div class="px-4">
					<h3 class="text-2xl md:text-4xl"><span class="text-[1.5em] ">👋🏻</span> Soy Noe Triminio</h3>
					<p class="md:text-2xl">Desarrollador de sitios y paginas web adaptables.</p>
					<p class="font-semibold">Web is Powerfull <span class=" text-4xl">🚀</span></p>
				</div>
			</div>
			<div class="flex gap-8 w-full md:w-auto justify-center">
				<a class="links mt-5 text-sm p-1 bg-white text-[#273036] md:p-2 md:text-lg rounded-md" href="/proyectos">Mis Proyectos</a>
				<a class="links mt-5 text-sm p-1 bg-white text-[#273036] md:p-2 md:text-lg rounded-md" href="/sobremi">Mas sobre mi</a>
			</div>
		</section>
	</section>
	<Stack />
	<div class="flex p-4 justify-center items-center gap-10 lg:mt-36">
		<a href="https://github.com/Josue-Triminio" target="_blank" rel="noopener noreferrer"><img src="/img/icons/github.svg" class="w-10 shadow p-1   rounded-md" alt="icono github"></a>
		<a href="https://www.linkedin.com/in/josue-noe-triminio-d%C3%ADaz-543b39289/" target="_blank" rel="noopener noreferrer"><img src="/img/icons/linkedin.svg" class="w-10 shadow p-1   rounded-md" alt="icono linkedin"></a>
		<a href="https://www.facebook.com/profile.php?id=100052785271790" target="_blank" rel="noopener noreferrer"><img src="/img/icons/facebook.svg" class="w-10 shadow p-1  rounded-md" alt="icono facebook"></a>
	</div>
	</main>
</Layout>

<style>
	.main_section{
		-webkit-box-shadow: 0px 1px 9px -4px rgba(66, 68, 90, 1);
        -moz-box-shadow: 0px 1px 9px -4px rgba(66, 68, 90, 1);
        box-shadow: 0px 1px 9px -4px rgba(66, 68, 90, 1);
		background: linear-gradient(122deg, rgb(47, 255, 0) 31%, rgb(255, 200, 0) 68%); 
	}
	.links{
		transition-property: scale;
		transition-duration: .3s;
	}
	.links:hover{
		scale: 1.1;
	}

	.show_main{
		opacity: 100%;
		transition: all .3s ease-in-out;
	}


		
	

</style>
	