---
import Layout from '../layouts/Layout.astro';
import Stack from '../components/Stack.astro';

---

<Layout title="JOSUE PORTFOLIO.">
	<main class="relative ">
		
		<Stack />
		
	
	</main>
</Layout>

<style>
	