---
import Layout from "../layouts/Layout.astro";
import Stack from "../components/Stack.astro";
import Titulo from "../components/Titulo.astro";
import Redes from "../components/Redes.astro";
---

<Layout title="PORTFOLIO NOE TRIMINIO.">
  <main class="relative">
    <section
      class="main_section flex justify-center items-center  bg-black max-h-[30rem] lg:pt-16 overflow-hidden"
    >
      <img
        src="img/banner.webp"
        class="img_section max-h-40 max-w-32 md:-max-w-52 md:max-h-72 lg:max-w-80 lg:max-h-96 z-20 lg:mr-20"
        alt="foto de noe.webp"
      />
     <div class="flex flex-col justify-center items-center gap-10">
      <Titulo />
      <div class="hidden lg:block">
        <Redes />
      </div>
     </div>
    </section>
    <article class=" lg:w-[50%] text-xs  p-2 mt-5 rounded-lg mx-auto md:max-w-[70%] md:text-sm">
      <h4 class="text-center text-xl p-10">MIS SERVICIOS</h4>
      <div class="flex flex-col justify-center border rounded-2xl p-5 gap-2">
        <p>Lleva tus proyectos al siguiente nivel con el uso de las tecnologias mas robustas y populares.</p>
        <p>Algunos de mis servicios incluyen creacion  mantenimiento y soporte de sitios y paginas web.</p>
        <p>Pra mas informacion puedes contar conmigo contactame en mis redes sociales o descarga mi cv.</p>
      </div>
    </article>
  </main>
  <Stack />
</Layout>

<style>
  .img_section {
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
  }
  .main_section {
    -webkit-box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.6);
  }

  .show_main {
    opacity: 100%;
    transition: all 0.3s ease-in-out;
  }
</style>
