---
import Layout from "../layouts/Layout.astro";
import ProyectosCard from "../components/ProyectosCard.astro";
---


<Layout title="NOE PORTFOLIO-PROYECTOS">

    <section class="flex flex-col items-center">
        <ProyectosCard />
    </section>
</Layout>

