---
const {titulo,link}=Astro.props;
---




<a href={link} class=" cursor-pointer hover:brightness-110 hover:animate-pulse font-bold 
               py-3 px-6 rounded-full bg-gradient-to-r from-blue-500
             to-pink-500 text-white">{titulo}</a>