---
interface card{
    link:string,
    urlimg:string
}
const { link, urlimg } = Astro.props;
---

<a
  href={link}
  rel="noopener noreferrer"
  target="_blank"
  class="card w-52 h-54 flex flex-col
    justify-center items-center 
    md:w-52 md:h-42 lg:w-64 lg:h-52
    rounded-md transition hover:scale-[1.04] bg-black"
>
    
  <img src={urlimg} alt="proyect image" class="rounded-t-md " />
  <div class="flex  items-center flex-1 justify-center gap-6 p-3">
    <slot />
  </div>
</a>

<style>
  .card {
    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry 5% cover 20%;
    
  }


  @keyframes fade {
    0% {
      opacity: 0;
      translate: 20 100px;
      scale: 0.5;
      transition: all 0.3s ease-in-out;
    }
    100% {
      opacity: 1;
      translate: 0 0;
      scale: 1;
    }
    
  }

  
</style>
