

<footer class="bg-black fixed bottom-0 w-full p-2 flex justify-end items-center">


   <div class="flex items-center gap-6 mr-16">
    <p class="text-white text-sm">Hostings</p>
    <img src="/img/icons/vercel.svg" class="  w-5 md:w-10  p-[2px] border bg-white rounded-md" alt="">
    <img src="/img/icons/netlify.svg" class=" w-5  md:w-10  border bg-white rounded-md" alt="">
   </div>
</footer>