






<header class="header h-14 w-full sticky top-0 flex justify-between lg:justify-around items-center flex-wrap z-50 shadow md:p-3">
    <a href="/"><img src="/img/milogo.webp" class=" w-8 shadow-xl md:w-10 rounded-full ml-8 lg:ml-0" alt="logotipo noe"></a>
   
    <section class="hidden lg:flex gap-20 text-[.8em] text-white font-sm">
        <div class=" header_links">
                <a href="/">Inicio</a>
        </div>
        <div class=" header_links">
                <a  href="/proyectos">Proyectos</a>
        </div>
        <div class=" header_links">
                <a  href="/sobremi">Sobre Mi</a>
        </div>
    </section>
    
</header>



<style>
   
    
    .header{
        background-color: rgba(0, 0, 0, 0.936);
        backdrop-filter: blur(10px);
    }
    
    .header_links{
        transition: scale .1s ease;
        padding: 1px;
    }
    .header_links:hover{
        transition: scale .1s ease;
        scale: 1.2;
        transition: all .2s ease-in-out;
        color: transparent;
		background: #FF0049 ;
   		background: linear-gradient(122deg,#FF0049  35%, rgb(0, 176, 234) 68%); 
        background-clip: text;
        
    }
   
   
</style>