<script>
    const btn_menu = document.querySelector('.btn_menu')
    const btn_menu2 = document.querySelector('.btn_menu2')
    const nav = document.querySelector('.nav')
    const nav_ul=document.querySelector('.nav_ul')

    btn_menu.addEventListener('click',()=>{
        nav.classList.toggle('w-[65%]')
        nav.classList.toggle('lg:w-[25%]')
        nav_ul.classList.add('opacity-[100%]')
        btn_menu2.classList.remove('opacity-0')
    })
</script>

<header class=" w-full bg-gray-100 sticky top-0 flex justify-between items-center z-50">
    <a class=" ml-6" href="/" rel="noopener noreferrer"><img src="/img/milogo.svg" class=" w-16" alt="logo portfolio"></a>
    <button class="btn_menu mr-5 md:mr-10 flex items-center">
        <p class=" font-bold text-black">MENU</p>
        <svg xmlns="http://www.w3.org/2000/svg" class=" w-[3rem] lg:w-[2.5rem]" fill="black" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
          </svg>
    </button>
    
</header>


<style>
    header{
        -webkit-box-shadow: 1px 5px 13px 0px rgba(160, 160, 160, 0.32); 
        box-shadow: 1px 5px 13px 0px rgba(131, 131, 131, 0.32);
    }
</style>
