---
import Redes from './Redes.astro'
---


<button class="btn h-8 w-16 flex justify-center items-center 
              fixed
               top-3 right-4 z-50
               lg:hidden" transition:animate="none">
               <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="white" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
              </svg>
</button
>

<nav class="nav w-full h-0 opacity-0 transition
     flex flex-col justify-center items-center 
     gap-10 z-50 overflow-hidden fixed bg-slate-950
    text-white font-semibold lg:hidden">
  <a href="/">INICIO</a>
  <a href="/proyectos">PROYECTOS</a>
  <a href="/sobremi">SOBRE MI</a>

  <Redes color="white" />
</nav>

<style>
  .nav {
    transition: all .3s ease-in-out;
    backdrop-filter: blur(10px);
  }
</style>
