---
import Card from "./Card.astro";
---

<h2 class="text-center text-xl md:text-4xl py-16 font-semibold">
  <span class="font-bold text-4xl text-[#FF0049]">GALERIA</span> DE PROYECTOS
</h2>

<article class="mb-10">
  <section
    class="flex flex-col flex-wrap items-center justify-center gap-10 md:flex-row pb-10">
    <Card link="https://crypto-money-com.vercel.app/" urlimg="/img/01.webp">
      <img src="/img/icons/vite.svg" width="30" alt="icono vite-js" />
      <img src="/img/icons/react.svg" width="30" alt="icono react-js" />
      <img src="/img/icons/tailwind.svg" width="30" alt="icono tailwind-js" />
    </Card>
    <Card link="https://guitarla-nextjs-topaz.vercel.app" urlimg="/img/03.webp">
      <img src="/img/icons/next.svg" width="30" alt="icono next-js" />
      <img src="/img/icons/tailwind.svg" width="30" alt="icono tailwind-js" />
      <img src="/img/icons/postgres.svg" width="30" alt="icono postgres" />
      <img src="/img/icons/strapi.svg" width="30" alt="icono strapi" />
    </Card>
    <Card link="https://recetas-free-app.netlify.app" urlimg="/img/05.webp">
      <img src="/img/icons/vite.svg" width="30" alt="icono vite-js" />
      <img src="/img/icons/react.svg" width="30" alt="icono react-js" />
      <img src="/img/icons/bootstrap.svg" width="30" alt="icono bootstrap-js" />
    </Card>
    <Card link="https://nangotara-sl.vercel.app" urlimg="/img/02.webp">
      <img src="/img/icons/astro.svg" width="30" alt="icono astro" />
      <img src="/img/icons/javascript.svg" width="30" alt="icono js" />
      <img src="/img/icons/tailwind.svg" width="30" alt="icono tailwind-js" />
    </Card>
    <Card
      link="https://github.com/Josue-Triminio/Buscador-de-noticias"
      urlimg="/img/04.webp"
    >
      <img src="/img/icons/react.svg" width="30" alt="icono react-js" />
      <img src="/img/icons/material.svg" width="30" alt="icono material" />
    </Card>
    <Card link="https://task-com.vercel.app" urlimg="/img/06.webp">
      <img src="/img/icons/vite.svg" width="30" alt="icono vite-js" />
      <img src="/img/icons/react.svg" width="30" alt="icono react-js" />
      <img src="/img/icons/redux.svg" width="30" alt="icono redux-js" />
      <img src="/img/icons/tailwind.svg" width="30" alt="icono tailwind-js" />
    </Card>
  </section>

</article>