






<h2 class="text-center text-2xl font-semibold md:m-10 ">GALERIA DE PROYECTOS</h2>
<section class=" p-8 flex flex-col items-center gap-6  lg:flex-row">
  
    <div class="card_proyects w-80 md:w-[35rem] lg:w-[40rem] lg:h-80 rounded-xl h-72 flex flex-col items-center justify-center">
        <div class="card_img2 w-[100%] h-[100%] rounded-t-xl flex items-end justify-center p-4 border-b">
        </div>
        <div class="flex justify-evenly items-center p-3 w-full">
            <img src="/img/icons/astro.svg" width="40" alt="">
            <img src="/img/icons/javascript.svg" width="40" alt="">
            <img src="/img/icons/tailwind.svg" width="40" alt="">
            <img src="/img/icons/css.svg" width="40" alt="">
            <a href="https://nangotara-sl.vercel.app" target="_blank" rel="noopener noreferrer" class="link rounded-md bg-black text-white font-semibold ">VER POYECTO</a>
        </div>
    </div>
  
   
    <div class="card_proyects w-80 md:w-[35rem] lg:w-[40rem] lg:h-80 rounded-xl h-72 flex flex-col items-center justify-center">
        <div class="card_img w-[100%] h-[100%] rounded-t-xl flex items-end justify-center p-4 border-b">
        </div>
        <div class="flex justify-evenly items-center p-3 w-full">
            <img src="/img/icons/vite.svg" width="40" alt="">
            <img src="/img/icons/react.svg" width="40" alt="">
            <img src="/img/icons/tailwind.svg" width="40" alt="">
            <a href="https://crypto-money-com.vercel.app/" target="_blank" rel="noopener noreferrer" class="link rounded-md bg-black text-white font-semibold ">VER POYECTO</a>
         </div>
    </div>
  

   
     <div class="card_proyects card_proyects w-80 md:w-[35rem] lg:w-[40rem] lg:h-80 rounded-xl h-72 flex flex-col items-center justify-center">
        <div class="card_img3 w-[100%] h-[100%] rounded-t-xl flex items-end justify-center p-4 border-b">
        </div>
        <div class="flex justify-evenly items-center p-3  w-full">
            <img src="/img/icons/next.svg" width="40" alt="">
            <img src="/img/icons/react.svg" width="40" alt="">
            <img src="/img/icons/strapi.svg" width="40" alt="">
            <img src="/img/icons/postgres.png" width="40" alt="">
            <a href="https://guitarla-nextjs-topaz.vercel.app/" target="_blank" rel="noopener noreferrer" class="link rounded-md bg-black text-white font-semibold ">VER POYECTO</a>
         </div>
    </div>
   
   
   
   
  
</section>


<style>
    .card_proyects{
        
        -webkit-box-shadow: 0px 1px 9px -4px rgba(66, 68, 90, 1);
        -moz-box-shadow: 0px 1px 9px -4px rgba(66, 68, 90, 1);
        box-shadow: 0px 1px 9px -4px rgba(66, 68, 90, 1);
    }
    .card_img{
        background-image: url(/img/01.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .card_img2{
        background-image: url(/img/02.webp);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .card_img3{
        background-image: url(/img/03.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .link{
        text-align: center;
        width:50%;
        padding: 4px;
        
        -webkit-box-shadow: 0px 1px 9px -4px rgba(66, 68, 90, 1);
        -moz-box-shadow: 0px 1px 9px -4px rgba(66, 68, 90, 1);
        box-shadow: 0px 1px 9px -4px rgba(66, 68, 90, 1);
    }
   
  
</style>