


<div class= "flex justify-center items-center w-24 md:w-52 gap-5 md:gap-10 bg-white rounded-full p-2">
    <a href="https://github.com/Josue-Triminio" target="_blank" rel="noopener noreferrer" class="social">
      <img src="/img/icons/github.svg" class="w-6" alt="icono github">
    </a>
    <a href="https://www.linkedin.com/in/josue-noe-triminio-d%C3%ADaz-543b39289/" target="_blank" rel="noopener noreferrer" class="social">
      <img src="/img/icons/linkedin.svg" class="w-6" alt="icono linkedin">
    </a>
    <a href="https://www.facebook.com/profile.php?id=100052785271790" target="_blank" rel="noopener noreferrer" class="social">
      <img src="/img/icons/facebook.svg" class="w-6" alt="icono facebook">
    </a>
  </div>


  <style>
    .social{
        transition: scale .1s ease;
    }
    .social:hover{
        scale: 1.2;
        transition-duration: .3s;
    }
  </style>