---
import Redes from "./Redes.astro";
---


  <article class="flex flex-col md:flex-row gap-5 mt-8 md:mt-28 
          justify-evenly items-center w-[90%] md:w-[80%] mb-16
          mx-auto p-5 bg-black rounded-xl">
    <img
    src="img/banner.webp"
    class="max-h-40 max-w-32 md:-max-w-52
    md:max-h-72 lg:max-w-80 lg:max-h-96"
    alt="foto de noe.webp"
    />
    <section class="flex flex-col gap-3 text-sm lg:text-md text-white w-full">
    <h4 class=" font-bold text-2xl">SOBRE <span class="text-[#FF0049]">MI</span></h4>
    <p>Mi nombre es <span class="font-semibold">Noe</span> y es un placer presentarme contigo.</p>
    <p>Soy un chico sociable, disfruto de la compañía de familiares, amigos o compañeros de trabajo.</p>
    <p>Soy músico y me gusta cantar tocando mi guitarra.</p>
    <p>Siempre estoy dispuesto para ayudar a quien lo necesite.</p>
    <p>Me gusta el aprendizaje sobre multitud de temas como tecnología, arte, música, política y deportes.</p>
    <div class="mx-auto p-8">
    <Redes color="white" />
    </div>
    </section>
  </article>






