<h2 class=" text-center p-5 text-3xl">SOBRE MI</h2>
<article class="w-full flex flex-col justify-center gap-10 items-center lg:flex-row">
    <div class=" rounded-full p-1 bg-white shadow-md">
        <img src="/img/avatar.svg" class="w-60 rounded-full md:w-80 " alt="imagen de noe triminio ">
    </div>
    <div class="p-5 flex flex-col justify-center md:text-lg bg-[#273036] text-white rounded-md shadow">
      <p>Mi nombre es <span class="font-semibold">Noe Triminio</span> y es un placer presentarme contigo.</p>
      <p>Soy un chico sociable disfruto de la compañia de familiares, amigos o compañeros de trabajo.</p>
      <p>Me gusta el futbol y los videojuegos principalmemte los shooters.</p>
      <p>Tambien soy musico y me gusta cantar tocando mi guitarra.</p>
      <p>Siempre estoy dispuesto para ayudar a quien lo necesite nunca dejo a nadie sin mi ayuda</p>
      <p>Ya que yo tambien suelo pedir ayuda o consejos cuando no se sobre algun tema o asunto.</p>
      <p>Me gusta el aprendizaje sobre multitud de temas como tecnologia, arte, musica, politica, deportes y otros mas.</p>
    </div>
</article>
<div class="flex p-4 justify-center items-center gap-10 lg:mt-36">
  <a href="https://github.com/Josue-Triminio" target="_blank" rel="noopener noreferrer"><img src="/img/icons/github.svg" class="w-10 shadow p-1   rounded-md" alt="icono github"></a>
  <a href="https://www.linkedin.com/in/josue-noe-triminio-d%C3%ADaz-543b39289/" target="_blank" rel="noopener noreferrer"><img src="/img/icons/linkedin.svg" class="w-10 shadow p-1   rounded-md" alt="icono linkedin"></a>
  <a href="https://www.facebook.com/profile.php?id=100052785271790" target="_blank" rel="noopener noreferrer"><img src="/img/icons/facebook.svg" class="w-10 shadow p-1  rounded-md" alt="icono facebook"></a>
</div>