<script>
    const tec_card=document.querySelectorAll('.tecnologias');

    const observador= new IntersectionObserver((entries)=>{
        entries.forEach(entry=>{
            if (entry.isIntersecting) {
                entry.target.classList.add('show')
            }else{
                entry.target.classList.remove('show')
            }
        })
    },{
        threshold:.7
    })

    tec_card.forEach(e => {
        observador.observe(e)
    });
</script>



<section class=" md:flex items-center justify-evenly md:gap-8 w-[80%] mx-auto ">

    <section class="tecnologias mt-10 opacity-0">
        <h3 class="text-4xl text-center mb-6">Stack </h3>
        <div class="stack bg-white grid grid-cols-3 rounded-xl p-3">
           <div class="flex flex-col items-center gap-3">
                <img src="/img/icons/html.svg" class=" w-16" alt="html icon">
                <img src="/img/icons/css.svg" class=" w-16" alt="css icon">
                <img src="/img/icons/javascript.svg" class=" w-16" alt="javascript icon">
           </div>
           <div class="flex  flex-col items-center gap-3">
                <img src="/img/icons/react.svg" class=" w-16" alt="react icon">
                <img src="/img/icons/next.svg" class=" w-16" alt="netxjs icon">
                <img src="/img/icons/astro.svg" class=" w-16" alt="astrojs icon">
           </div>
           <div class="flex flex-col items-center gap-3">
                <img src="/img/icons/node.svg" class=" w-16" alt="nodejs icon">
                <img src="/img/icons/mysql.svg" class=" w-20" alt="mysql icon">
                <img src="/img/icons/mongo.svg" class=" w-26" alt="mongodb icon">
           </div>
        </div>
    
    </section>
    <section class="tecnologias mt-10 opacity-0 ">
        <h3 class="text-3xl text-center mb-6">Mas Conocimientos</h3>
        <div class="stack bg-white grid grid-cols-3 rounded-xl p-3">
           <div class="flex flex-col items-center gap-3">
                <img src="/img/icons/git.svg" class=" w-30" alt="git icon">
                <img src="/img/icons/github.svg" class=" w-16" alt="github icon">
                <img src="/img/icons/tailwind.svg" class=" w-16" alt="tailwindcss icon">
           </div>
           <div class="flex flex-col items-center gap-3">
                <img src="/img/icons/illustrator.svg" class=" w-16" alt="adobe illustrator icon">
                <img src="/img/icons/ps.svg" class=" w-16" alt="adobe photoshop icon">
                <img src="/img/icons/sketch.svg" class=" w-26" alt="sketch icon">
           </div>
           <div class="flex flex-col items-center gap-3">
                <img src="/img/icons/mac.svg" class=" w-16" alt="macos icon">
                <img src="/img/icons/linux.svg" class=" w-30" alt="linux icon">
                <img src="/img/icons/windows.svg" class=" w-16" alt="windows icon">
           </div>
        </div>
    </section>
</section>




<style>
    .stack{
        margin: 0 auto;
        -webkit-box-shadow: 0px 1px 9px -4px rgba(66, 68, 90, 1);
        -moz-box-shadow: 0px 1px 9px -4px rgba(66, 68, 90, 1);
        box-shadow: 0px 1px 9px -4px rgba(66, 68, 90, 1);
    }

    .show{
        transition: all .4s ease;
        opacity: 1;
    }
</style>