



<h2 class="h2_skills  text-xl p-5 w-full mx-auto  text-center font-semibold  md:text-xl md:mt-10 ">My Stack</h2>
<section class="skills  flex justify-around  gap-5 md:flex-col lg:flex-row p-5 mb-20">
    <section class=" mt-1 md:w-auto md:mb-16">
       <div class="flex  flex-col flex-wrap rounded-md p-5  ">
            <div class="flex justify-center items-center gap-10 p-2 md:p-5 ">
                <img src="/img/icons/html.svg" class="w-7 md:w-12" alt="icono html">
                <img src="/img/icons/css.svg" class="w-7 md:w-12" alt="icono css">
                <img src="/img/icons/javascript.svg" class="w-7 md:w-12" alt="icono javascript">
            </div>
            <div class="flex flex-wrap item-center justify-center gap-10 p-2 md:p-5 border-t">
                <img src="/img/icons/react.svg" class="w-7 md:w-12" alt="icono react">
                <img src="/img/icons/vite.svg" class="w-7 md:w-12" alt="icono vite">
                <img src="/img/icons/next.svg" class="w-7 md:w-12" alt="icono next">
                <img src="/img/icons/astro.svg" class="w-7 md:w-12" alt="icono astro">
                <img src="/img/icons/tailwind.svg" class="w-7 md:w-12" alt="icono tailwind">
                <img src="/img/icons/sass.svg" class="w-7 md:w-12" alt="icono sass">
                <img src="/img/icons/bootstrap.svg" class="w-7 md:w-12" alt="icono bootstrap">
                <img src="/img/icons/material.svg" class="w-7 md:w-12" alt="icono material">
                <img src="/img/icons/git.svg"   class="w-8 md:w-12"   alt="icono git">
                <img src="/img/icons/github.svg" class="w-7 md:w-12" alt="icono github">
            </div>
            <div class="flex flex-wrap item-center justify-center gap-10 p-2 md:p-5 border-t">
                <img src="/img/icons/node.svg" class="w-7 md:w-12" alt="icono node">
                <img src="/img/icons/mysql.svg" class="w-7 md:w-12" alt="icono mysql">
                <img src="/img/icons/mongo.svg" class="w-7 md:w-12" alt="icono mongo">
                <img src="/img/icons/strapi.svg" class="w-7 md:w-12" alt="icono strapi">
            </div>
            
       </div>
       
    </section>
    

</section>




<style>
  
   

    .skills{
        animation: fade linear both;
        animation-timeline: view();
        animation-range: entry 10% cover 20%;
    }

    @keyframes fade {
        0%{
            opacity: 0;
            translate: 20 100px;
            scale: .5;
            transition: all .3s ease-in-out;
        }
        100%{
            opacity: 1;
            translate: 0 0;
            scale: 1;
        }
    }
  
  
</style>