



<h2 class="text-4xl p-10 text-center">MIS CONOCIMIENTOS</h2>
<section class="flex justify-around md:w-[80%] md:mx-auto ">
    <section class="w-[95%] mx-auto p-5  md:w-auto md:m-0">
       <div class="flex  flex-col flex-wrap shadow rounded-md p-5">
            <div class="flex justify-center items-center gap-10 p-5 ">
                <img src="/img/icons/html.svg" class="w-12" alt="icono html">
                <img src="/img/icons/css.svg" class="w-12" alt="icono css">
                <img src="/img/icons/javascript.svg" class="w-12" alt="icono javascript">
            </div>
            <div class="flex flex-wrap item-center gap-10 p-5 border-t">
                <img src="/img/icons/react.svg" class="w-12" alt="icono react">
                <img src="/img/icons/vite.svg" class="w-12" alt="icono vite">
                <img src="/img/icons/next.svg" class="w-12" alt="icono next">
                <img src="/img/icons/astro.svg" class="w-12" alt="icono astro">
                <img src="/img/icons/tailwind.svg" class="w-12" alt="icono tailwind">
                <img src="/img/icons/sass.svg" class="w-12" alt="icono sass">
                <img src="/img/icons/bootstrap.svg" class="w-12" alt="icono bootstrap">
                <img src="/img/icons/material.svg" class="w-12" alt="icono material">
                <img src="/img/icons/git.svg" class="w-18" alt="icono git">
                <img src="/img/icons/github.svg" class="w-12" alt="icono github">
            </div>
            <div class="flex flex-wrap item-center gap-10 p-5 border-t">
                <img src="/img/icons/node.svg" class="w-12" alt="icono node">
                <img src="/img/icons/mysql.svg" class="w-12" alt="icono mysql">
                <img src="/img/icons/mongo.svg" class="w-18" alt="icono mongo">
                <img src="/img/icons/strapi.svg" class="w-16" alt="icono strapi">
            </div>
           
       </div>
    </section>
    <section class=" p-5 hidden md:flex md:flex-col md:gap-4 bg-[#273036] text-white rounded-md h-[26.3rem] mt-5">
        <p class="text-xl font-semibold">Estos son los conocimientos que e obtenido en el transcurso de mi aprendizaje.</p>
        <p><span class="font-semibold">Conocimientos base:</span> HTML, CCSS y JAVASCRIPT.</p>
        <p><span class="font-semibold">Librerias y frameworks:</span> ASTRO, REACT, NEXT, VITE, TAILWIND y SASS .</p>
        <p><span class="font-semibold">Conocimientos adicionales:</span> INFORMATICA, AFFINITY PHOTO,  AFFINITY DESIGNER, PHOTOSHOP, ILLUSTRATOR  .</p>
    </section>
</section>




<style>
    .show{
        transition: all .4s ease;
        opacity: 1;
    }
</style>