




<div class="flex flex-col justify-center items-center" >
    <h1 class="font-[900] text-xl text-white md:text-5xl lg:text-[4.3em] bg-black z-30">
        <span class="font-bold text-[#FF0049]">NOE
        </span> TRIMINIO</h1>
    <h2 class="subtitulo reboteMd font-[300] text-sm  md:text-xl lg:text-4xl z-20">WEB DEVELOPER</h2>

</div>


<style>
.subtitulo{
    color: transparent;
    background: #FF0049 ;
    background: linear-gradient(122deg, #FF0049  35%, rgb(27, 175, 255) 68%); 
    background-clip: text;
    transition-property:background,color,text;
    transition-duration: .2s;
}

@media(min-width:350px){
    .subtitulo{
        animation: rebote .5s 1s both ease-in-out;
    }
    @keyframes rebote{
    0%{
        transform: translateY(-20px);
    }
    50%{
        transform: translateY(20px);
    }
    70%{
        transform: translateY(15px);
    }
    80%{
        transform: translateY(8px);
    }
    
    100%{
        transform: translateY(12px);
    }
   
}
}
@media(min-width:760px){
    .subtitulo{
        animation: rebote .5s 1s both ease-in-out;
    }
    @keyframes rebote{
    0%{
        transform: translateY(-30px);
    }
    50%{
        transform: translateY(20px);
    }
    70%{
        transform: translateY(15px);
    }
    80%{
        transform: translateY(8px);
    }
    
    100%{
        transform: translateY(12px);
    }
   
}
}
@media(min-width:1024px){
    .subtitulo{
        animation: rebote .5s 1s both ease-in-out;
    }
    @keyframes rebote{
    0%{
        transform: translateY(-60px);
    }
    50%{
        transform: translateY(30px);
    }
    70%{
        transform: translateY(15px);
    }
    80%{
        transform: translateY(8px);
    }
    
    100%{
        transform: translateY(20px);
    }
   
}
}


.show2{
    display: block;
    transition-delay: 1s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: .4s;
    

}





    
</style>