<script>
    const subtitulo=document.querySelector('.subtitulo');

    const observador= new IntersectionObserver((entries)=>{
        entries.forEach(entry=>{
            if (entry.isIntersecting) {
                entry.target.classList.add('show2')
            }
        })
    },{
        threshold:0
    })
        observador.observe(subtitulo)

       

</script>




<div class=" w-full relative">
    <h1 class="mt-5  z-50 mb-3  font-[900] text-[2.5em] w-full text-center lg:text-[5.3em] text-[#273036] md:text-7xl"> NOE TRIMINIO</h1>
    <h2 class="subtitulo reboteMd font-[600] w-full text-[1.2em] -z-10 text-center md:text-3xl lg:text-4xl opacity-0 absolute top-9 md:top-12">WEB DEVELOPER</h2>
</div>



<style>
.subtitulo{
    color: transparent;
    background: rgb(255, 0, 247);
    background: linear-gradient(122deg, rgb(255, 0, 247) 35%, rgb(0, 176, 234) 68%); 
    background-clip: text;
    transition-property:background,color,text;
    transition-duration: .2s;
}

@media(min-width:320px){
   .reboteMd{
    animation: reboteMd .8s 1s both ease-in-out;
   }

   @keyframes reboteMd {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(50px);
    }
    60%{
        transform: translateY(44px);
    }
    70%{
        transform: translateY(48px);
    }
    100%{
        transform: translateY(50px);
    }
   
}
}
@media(min-width:1024px){
    .subtitulo{
        animation: rebote .5s 1s both ease-in-out;
    }
    @keyframes rebote{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(90px);
    }
    60%{
        transform: translateY(84px);
    }
    70%{
        transform: translateY(88px);
    }
    100%{
        transform: translateY(90px);
    }
   
}
}

.show2{
    opacity: 1;
    transition-delay: 1s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: .4s;
    

}





    
</style>