---
const {id}=Astro.props;
---


<button id={id} class="absolute z-50 right-0 rounded-r-md cursor-pointer hover:brightness-110  font-bold 
            py-3 px-6 rounded-full bg-gradient-to-r from-[#FF0049]
            to-[#1BAFFF] text-white">
            Mas
</button>